addition

In [13]:
a = int(input("enter first number= "))
b = int(input("enter second number= "))
c= a + b
print("the addition of "  + str(a)  + " and "  + str(b)+ " is= "+str(c))

enter first number= 12
enter second number= 13
the addition of 12 and 13 is= 25

type

In [14]:
a=10
b=10.5
c="ok"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

Operators

In [18]:
a=10
b=15
c=a/b
print(c)

0.6666666666666666

In [19]:
a=12
b=18
c=a**b
print(c)

26623333280885243904

In [20]:
a=10
b=2
c=a//b
print(c)

5

In [21]:
a=18
b=2
c=a*b
print(c)

36

In [22]:
a=12
b=3
c=a-b
print(c)

9

In [23]:
a=10
b=2
z=a
print(z)

10

IF Elif else

In [3]:
a= int(input("Enter the fisrt number:"))
b=int(input("Enter the second number"))
c=int(input("Enter the third number"))
if(a>b and a>c):
    print("A is largest")
elif(b>a and b>c):
    print("B is largest")
else:
    print("C is largest")

Enter the fisrt number:12
Enter the second number14
Enter the third number7
B is largest

Possitive or Negative

In [4]:
a = int(input("enter a number"))
if a<0:
    print(str(a)+ " is negative")
else:
    print(str(a)+" is positive")

enter a number-12
-12 is negative

Percentage

In [7]:
s1=int(input("enter the marks of subject 1= "))
s2=int(input("enter the marks of subject 2= "))
s3=int(input("enter the marks of subject 3= "))
total= s1+s2+s3
percentage=total/3
print("Total marks:"+str(total)+" Percentage:" +str(percentage))
if(percentage<35):
    print("failed")
elif(percentage>35 and percentage<60):
    print("Second class")
elif(percentage>60 and percentage<75):
    print("First class")
else:
    ("Distinstion")

enter the marks of subject 1= 80
enter the marks of subject 2= 70
enter the marks of subject 3= 70
Total marks:220 Percentage:73.33333333333333
First class

In [10]:
p=int(input("enter the Price per item "))
q=int(input("enter the quatity "))
total=p*q
print("total: "+str(total))
if total>=500:
    t=total/10
    total=total-t
    print("total after discount:"+str(total))
else:
    print("You are not eligible for discount")

enter the Price per item 1000
enter the quatity 5
total: 5000
total after discount:4500.0

In [14]:
odd=0
even=0
for i in range(11):
    if i%2 == 0:
        even= even+i
    else:
        odd = odd+i
print("sum of even numbers: "+str(even))
print("summ of odd numbers: "+str(odd))

sum of even numbers: 30
summ of odd numbers: 25

In [16]:
odd=0
even=0
i=0
while(i<11):
    if i%2 ==0:
        even=even+i
    else:
        odd=odd+i
    i+=1
print("Sum of even number"+str(even))
print("Sum of odd number"+str(odd))

Sum of even number30
Sum of odd number25

In [20]:
a=int(input("enter number for which you want a table "))
i=1
while(i<=10):
    print(str(a)+"X"+str(i)+":"+str(a*i))
    i+=1

enter number for which you want a table 3
3X1:3
3X2:6
3X3:9
3X4:12
3X5:15
3X6:18
3X7:21
3X8:24
3X9:27
3X10:30

In [27]:
for i in range(1,6):
    for j in range (1,i):
        print(j,end='')
    print()

1
12
123
1234

//Strings// (12/12/19)

In [1]:
str1="AACHA THEEK HAI "
print(str1)

AACHA THEEK HAI

In [2]:
print (r"C://Accha theek hai")

C://Accha theek hai

In [4]:
name = "Aniruddha"
id1=68
address="Kandivali"
print("my name is %s \nmy id is %d\nmy address is %s "%(name,id1,address))

my name is Aniruddha
my id is 68
my address is Kandivali

In [6]:
str1= "ok"
str2= str1.replace('ok','everything')
print(str2)

everything

In [7]:
str1 ="noice"
print(str1.upper())

NOICE

In [8]:
print("-".join("XIEIT68"))

X-I-E-I-T-6-8

In [9]:
string= 'noice is the wether'
print(string[::-1])

rehtew eht si ecion

//LIST//

In [10]:
mylist =['Aniruddha','Raj','Avdhoot','Nikhil']
print(mylist)

['Aniruddha', 'Raj', 'Avdhoot', 'Nikhil']

In [11]:
mylist.sort()
print(mylist)

['Aniruddha', 'Avdhoot', 'Nikhil', 'Raj']

In [14]:
mylist.append('Abhishek')
print(mylist)

['Aniruddha', 'Avdhoot', 'Nikhil', 'Raj', 'Abhishek', 'Abhishek', 'Abhishek']

In [15]:
mylist.insert(2,'Amey')
print(mylist)

['Aniruddha', 'Avdhoot', 'Amey', 'Nikhil', 'Raj', 'Abhishek', 'Abhishek', 'Abhishek']

In [16]:
ml=list(('apple','ok','noice'))
print(ml)

['apple', 'ok', 'noice']

In [17]:
for i in ml:
    print(i)

apple
ok
noice

In [21]:
if "apple" in ml:
    print("yes,'cherry'is in ml list")

yes,'cherry'is in ml list

In [22]:
print(len(ml))

3